* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 150ms linear;
}

:root {
  --primary: #c59d5f;
  --white: #fff;
  --overlay: #000;
  --black: #000;
  --burger-navbar-bg: rgba(25, 25, 25, 255);
  --footer-bg: rgba(25, 25, 25, 255);
  --footer-p-color: #919191;
  --footer-holder-bg: #262526;
  --p-color: #666;
}
